{{ form_start(form) }}
        <div class="form-group adduser" id="name">
            {{ form_widget(form.username) }}
        </div>

        <div class="form-group adduser" id="emailadd">
            {{ form_widget(form.email) }}
        </div>        
    {{ form_widget(form) }}
    <div class="form-group adduser">
        <button class="form-control border-0 font-weight-bold text-white"  style="background-color:#EF0051;">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
