<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
<script src="{{ asset('js/mainJs/index.js') }}"></script>


<script>
console.log("new user")

$(document).ready(function() {
     

    
    $('#saveUser').click(function(e){
        e.preventDefault();
    
        let username = $('#username').val().trim();
        let email = $('#email').val().trim();
        let role = $('#sel1').val().trim();

        $(".erreur").remove();

    if (username.length < 3) 
    {
        $('#username').after('<div class="erreur text-dark medium" style="font-size: small; margin-top: 10px;">Le nom d\'utilisateur doit être de 3 caractères minimum et ne peux pas contenir d\'espace</div>');

        //if(username.split('')[0])   
        
    }else if(username.length > 10)
    {
        $('#username').after('<div class="erreur text-dark medium" style="font-size: small; margin-top: 10px;">Le nom d\'utilisateur doit être  moins de 10 caractères</div>');
    
    }
    if (email.length < 1)
    {
       $('#email').after('<div class="erreur text-dark medium" style="font-size: small; margin-top: 10px;">Ce champ est obligatoire</div>'); 
    
    }else{
        let regEx = /^[a-zA-Z0-9][a-zA-Z0-9._%+-]{0,63}@(?:[a-zA-Z0-9-]{1,63}\.){1,125}[a-zA-Z]{2,63}$/;
        let validEmail = regEx.test(email);

        if(!validEmail)
        {
            $('#email').after('<span class="erreur text-dark medium" style="font-size: small; margin-top: 10px;">Merci de rentrer une adresse email valide</span>');
        }
    }


        $.ajax({
            url: '/superadmin/users/new',
            type: 'POST',
            data: JSON.stringify({
                "username": username,
                "email": email,
                "role": role,
            }),
            async: true, 
            success: function () {
            
                console.log('compte crée avec succès');
                setTimeout(function() {
                    window.location.href = "/superadmin/users"
                }, 2000)
            },
            error: function (error) {
            console.log(error);
            }
        });
    });

});
</script>
 